
body {
  text-align:center;
  background: url(../images/bg-concrete.png) repeat;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#content {
  text-align: center;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;
}

.card:hover .overlay {
  opacity: 0.3;
}

.card:hover .container .c-title {
  font-weight: bold;
}

.card .c-title {
  margin-top: 10px;
}

/* Utility card */
.card {
  width: 18%;
  display:inline-block;
  border: 1px black solid;
  margin: 0.2%;
}

.card .c-image {
  position: relative;
  height: 150px;

}

.card .c-image video{
  height: 100%;
  width: 100%;
}

.card .type-author{
  color:grey;
}

.card:hover {
  cursor: pointer;
}

.card .container {
  padding: 2px 16px;
}

.card .container p, h4 {
  margin: 2px 2px 8px;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Modal add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Modal the Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}


/* Frontpage */
#frontpage, #utility-content {
  width: 100%;
  height: 800px;
}

.wrapper {
  width: 80%;
  height: 100%;
  display:inline-block;
  margin: 0 auto;
}

#frontpage .logo {
  width:100%;
  display:inline-block;
  padding-top: 25px;
}
#frontpage .logo img {
  max-width: 18%;
  height: auto;
}

#frontpage .maps {
  margin-top:50px;
  display: inline-block;
  width: 80%;
}

#frontpage .maps .maps-text {
  margin-bottom: 30px;
}

#frontpage .maps img {
  max-width: 18%;
  margin: 0.2%;
  border: darkgray 1px solid;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: filter .2s ease-in-out;
}

#frontpage .maps img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}